* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: url(../imgs/manhattan-skyline.jpg);
  background-size: cover;
  margin: 0;
  min-height: 100%;
}


form {
  max-width: 550px;
  width: 90%;
  background: rgba(255, 255, 255, 0.8);
  margin: 17vh auto 0 auto;
  padding: 40px;
  border-radius: 3px;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  text-align: center;
}

label {
  display: block;
  margin: 20px 0;
}

input, textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  resize: none;
  border: none;
  border-bottom: 1px solid #D3D3D3;
}


input[type="text"]:focus, textarea:focus {
  border-bottom: 1px solid red;
}


textarea::-webkit-scrollbar{
  width: 4px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: red;
}

.center {
  text-align: center;;
}

input[type="submit"] {
  margin-top: 30px;
  width: 90%;
  max-width: 200px;
  background: linear-gradient(to right, red, rgb(225, 17, 76));
  color: white;
  font-size: 17px;
  cursor: pointer;
  border-radius: 3px;
}

.error{
  color: red;
}

.error-border{
  border-bottom: 1px solid red;
}

