*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
    min-height: 100%;
    
}

body{
    width: 100%;
    overflow-x: hidden;
    min-height: 100%;
    flex-direction: column;
    justify-content: space-between; 
}

header{
    margin-top: 20px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: #CF173F;;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin: 0;
}

.logo{
    font-size: 3rem;
    color: #fff;
    font-weight: 650;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.5);
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 400;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #222;
    border-bottom: 3px solid #222;

}


footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 10px 0;
}